
{%extends 'EuroLiteriestructureBundle:Main:layout.html.twig'%}
{%block body%}

<div class="row">
    <div class="articles small-12 columns">
        <div class="article border-article marge">
            <article class="art-content" ><p>La page recherchée n'existe pas !!!</p><p><a href="{{path('literie_accueil')}}">Retourner à l'accueil</a></p></article>
        </div>
    </div>
</div>
{%endblock%}
