#main-bar
{
    z-index:2000;
    display:block;
    position:fixed;
    width:100%;
    height:3em;
    background-color: #0d0f14;
    top:0;
}


.menu,
.menu ul,
.menu li,
.menu a
{
    margin:0;
    padding:0;
    border:none;
    outline:none;
}


.menu
{
    position: relative;
    height: 3em;
    margin-top: 0;
    width:50%;
    height:auto;
} 

.menu li
{
    position: relative;
    list-style : none;
    float : left;
    display: block;
    height: 3em;
    width: 8em;
}

.menu li a
{
    display:block;
    padding:0 0.6em;
    margin: 0.2em 0;
    text-align: center;
    line-height: 3em;
    text-decoration: none;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
    font-family:'Volkhov';
    font-size: 13px;
    /*color: #ff9236;*/
    color:#c24141;
    text-shadow: 1px 1px 1px rgba(0,0,0, .6);
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}


#menu-left li:first-child a {border-left:none;}
#menu-left li:last-child a {border-right: none;}
#menu-right li:first-child a{border-right:none;}

.menu li:hover > a {color:#0e9c07;}

.menu ul
{
    z-index:11;
    position: absolute;
    top: 3em;
    left:0;
    opacity:0;
    background: #0d0f14;
    -webkit-transition:opacity .25s ease .1s;
    -moz-transition:opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25 ease .1s;
    transition: opacity .25s ease .1s;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius:0 0 5px 5px;
}

.menu li:hover > ul {opacity:1;}

.menu ul li
{
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition:height .25s ease .1s;
    -moz-transition:height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25 ease .1s;
    transition: height .25s ease .1s;
}

.menu li:hover > ul li
{
    height: 3em;
    width:10em;
    overflow: visible;
    padding:0;
}

.menu ul li a
{
    text-align : left;
    width: 100%;
    padding: 4px 0 4px 2.1em;
    margin:0;
    border : none;
    border-bottom: 1px solid #353539;
}

.menu ul li:last-child a{border:none;}

#menu-left
{
    float:left;
    /*border-right:1px solid white;*/
}

#menu-right
{
    float:right;
}
#menu-right li
{
    float:right;
}
