<div class="sliderAdmin admin-c border">
    <section class="sliderActiveAdmin">
    </section>
    <section class="sliderUpDownAdmin">
        <div>
        <figure class="up btn-slider"><img src="../bundles/euroliteriestructure/images/up.png"></img></figure>
        <figure class="down btn-slider"><img src="../bundles/euroliteriestructure/images/down.png"></img></figure>
        <figure class="del btn-slider"><img src="../bundles/euroliteriestructure/images/poubelle_vide.png"></img></figure>
        <figure class="upload btn-slider"><img src="../bundles/euroliteriestructure/images/upload.png"></img></figure>
    </div>
    </section>
    <section class="sliderInactiveAdmin">
    </section>
    <section class="btn-adminPanel">
        <article class="btn-admin maj">
            <li>Mettre à jour</li>
        </article>
    </section>
</div>
