<div style="overflow:auto;">
    <section class="imageDisplay art-titre">
        <h1>Logos disponibles</h1>
    </section>
    <section class="newImage art-titre">
        <h1>Nouveau logo</h1>
        <input id="fileupload" type="file" name="files[]" data-url="test.php" multiple>
    </section>
</div>
