<div class="sliderAdmin admin-c border">
    <section class="sliderActiveAdmin">
    </section>
    <section class="sliderUpDownAdmin">
        <figure class="up"><img src="../bundles/euroliteriestructure/images/up.png"></img></figure>
        <figure class="down"><img src="../bundles/euroliteriestructure/images/down.png"></img></figure>
    </section>
    <section class="sliderInactiveAdmin">
    </section>
    <article class="btn-admin maj">
        <li>Mettre à jour</li>
    </article>
</div>
