<input type="hidden" name="artId" value="{{article.id}}"/>
<article class="article">
    <input type="hidden" name="id" value="{{article.id}}"/>
    <article class="art-titre"><h1>{{article.artTitle}}</h1></article>
    <section class="art-content">{{article.artContent | raw }}</section>
</article>

