
@font-face
{
    font-family :'Volkhov' , serif;
}
html
{
    width : 100%;
    height: 100%;
}
body
{
    width:100%;
    height:100%;
    background-color:#2a4674;
    font-family :"Volkhov";
}

#corps
{
    position:relative;
    /*top:3.2em;*/
    /*background-color:#d9f9ae;*/
    width:100%;
    height:100%;
    color:#23252d;
    top:16em;
    z-index:0;
}


.marge
{
    padding-left:3%;
    padding-right:3%;
    padding-top:2%;
}

.article
{
    border-top:2px solid transparent;
    position:relative;
    width: 95%;
    /*height : 18em;*/
    /*background-color: white;*/
    margin-left:2em;
    margin-bottom: 5em;
    text-align : justify;
    max-width : 100%;
    min-height : 18em;
    background: #feffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2RkZjFmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGQ4ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #feffff 0%, #ddf1f9 65%, #a0d8ef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#feffff), color-stop(65%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #feffff 0%,#ddf1f9 65%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #feffff 0%,#ddf1f9 65%,#a0d8ef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #feffff 0%,#ddf1f9 65%,#a0d8ef 100%); /* IE10+ */
    background: linear-gradient(to right, #feffff 0%,#ddf1f9 65%,#a0d8ef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-8 */
}
.rss
{
    height : 18em!important;
}
.lienSuite a:before
{
    content: '>> ';
}

.lienSuite a:after
{
    content:' <<';
}

.lienSuite a
{
    width:100%;
    font-size : 0.9em;
}
.lienSuite
{
    width:20%;
    padding-left:1.5em;
    position:relative;
    float:right;
    /*margin-right : 2.5em;*/
    /*margin-left:3%;*/
}
.lienSuite, .art-end a
{
    display:inline-block;
}
.art-img img
{
    margin-top:0.4em;
    position:relative;
    float:left;
    margin-right:1.5em;
    width:100%;
    height:auto;
}
.art-img
{
    width:20%;
    height:10%;
    top:-0.9em;
    position:relative;
}
.border-article
{
    -webkit-border-radius:0px 0px 3px 3px;
    -moz-border-radius:0px 0px 3px 3px;
    border-radius:27px 0px 3px 3px;
}

.art-titre
{
    top:-2.3em;
    height:2em;
    left:0;
    background-color:#c24141;
    width:100%;
    -webkit-border-radius:0px 3px 0px 0px;
    -moz-border-radius:0px 3px 0px 0px;
    border-radius:0px 3px 0px 0px;
}
.art-titre h1
{
    display : inline-block;
    line-height : 2em;
    top:-0.6em;
    position : relative;
    color: white;
    padding-left:3%;
    font-size : 1.0em;
    width : 100%;
    font-family : "Volkhov";
}
.art-content
{
    font-size:0.9em;
    position:relative;
    top:-0.9em;
    text-align : justify;
}
.art-content p
{
    display:block;
    margin : 0.2em;
    padding-left : 1.8em;
    color : black;

}
.art-content h2
{
    font-size : 1.5em;
    font-family : "Volkhov";
    color : #2a4674;
}
.art-content h3
{
    font-size : 1.3em;
    font-family : "Volkhov";
    padding-left : 1em;
    color : #2a4674;
}
.art-png, .art-titre
{
    display:inline-block;
    position:absolute;
}
.art-png
{
    border:2px solid #c24141;
    width:4em;
    top:-2.3em;
    height:4em;
    left:-4em;
    margin-bottom:0;
    -webkit-border-radius:2px 0px 0px 0px;
    -moz-border-radius:2px 0px 0px 0px;
    border-radius:2px 0px 0px 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select : none;
}
.art-date
{
    display:block;
    top:-0.9em;
    position:relative;
    line-height:2em;
    color :#c24141;
}

.art-triangle
{
    width:4em;
    height:2em;
    position:absolute;
    left:-4em;
    top:1.7em;
    border-top:2em solid #c24141;
    border-left:4em solid transparent;
}
.art-pdf
{
    height:90em;
}
.art-pdf embed
{
    display:block;
    width:100%;
    height:75em;
    margin-top:3em;
    padding-bottom:1em;
}
.art-end
{
    border-top:2px solid black;
    position:absolute;
    bottom:0;
    line-height:3em;
    width:94%;
}
.italique
{
    font-style:italic;
}

#bar
{
    position : absolute;
}


