    <div id="main-bar">
        <div class="row">
        <ul class="menu" id="menu-left">
            <li><a href="{{path('yomaah_homepage')}}">Accueil</a></li>
            <li><a href="{{path('cv')}}">C.V.</a>
            <li><a href="{{path('projet')}}">Mes projets</a></li>
        </ul>
        <ul class="menu" id="menu-right">
            <li><a href="#">Espace Client</a></li>
        </ul>
    </div>
    </div>
